.mobile-class-links{
    display: grid;
    background: rgba(0, 0, 0, 0.95);
    grid-gap: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    border-radius: 10px;
    align-items: flex-end;
    text-align: end;
    padding: 20px;
    font-size: 28px;
    z-index: 10;
}
.fade-in{
    display: none;
}