.project-container{
    padding-left: 5vw;
    min-height:200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background: linear-gradient(177deg, rgba(20, 20, 10,0.8) 0%, rgba(0,0,0,0.8) 50%, rgb(0,0,0) 100%);
}
.project-text{
    align-self: center;
}
.project-img{
    justify-self: center;
    height: 200px;
    margin: 60px;
}