.service-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.service{
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.21);
    display:grid;
    grid-template-columns: auto auto;
    align-content: center;
    align-items:center;
    grid-column-gap: 10px;
    animation: fade-fade 1s ease-in-out;
}
.service-title{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.service-desc{
    margin: 0;
}
.service-icon{
    height: 120px;
}

@media only screen and (max-width : 600px){
    .stack-container{
        display: none;
    }
}


@keyframes fade-fade {
    0% {
      opacity:0;
      transform: translate(50px, 30px);
    }
    50% {
        opacity: 0;
    }
    90%{
        opacity:100;
        transform: translate(0, 0); 
    }
    95%{
        opacity:0;
        transform: translate(-10px, 0); 
    }
    100% {
      opacity:100;
      transform: translate(0, 0);
    }
  }
