nav{
  background: black;
  padding:10px 0;
  position: fixed;
  top: 0;
  left:0;
  font-weight: bold;
  font-size: 18px;
}
.main-nav{
  display: inline;
  margin-left: 7.5vw;
  text-decoration: none;
  color: white;
}
.main-nav:hover{
  color: rgba(255, 255, 255, 0.9);
}
.main-nav-active{
  color: orange;
}
.main-nav-active:hover{
  color: rgba(255, 166, 0, 0.9);
}