nav{
  display: grid;
  align-content: center;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #131313d8, #575151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #131313d8, #575151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 60px;
  position: fixed;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to bottom right, rgba(255,255, 255, .2), rgba(255,255, 255,0.05));
  border-image-slice: 1;
  z-index: 50;
}
.navbar-links{
  width: 50vw;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
