nav{
  display: grid;
  align-content: center;
  background: black;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0;
  left:0;
  font-weight: bold;
  font-size: 18px;
  border: 0px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to bottom right, rgba(255,255, 255, .2), rgba(255,255, 255,0.05));
  border-image-slice: 1;
}
.main-nav{
  display: inline;
  margin-left: 7.5vw;
  text-decoration: none;
  color: white;
}
.main-nav:hover{
  color: rgba(255, 255, 255, 0.9);
}
.main-nav-active{
  color: orange;
}
.main-nav-active:hover{
  color: rgba(255, 166, 0, 0.9);
}