
.App{
    min-height: 100vh;
}
.half-container{
    margin: 0 5vw;
    width: 50vw;
    padding-top: 15vh;
    min-width: 600px;
    z-index: 1;
}
.height{
    min-height: 48vh;
}
.align-center{
    display: grid;
    align-content: center;
}
.header{
    font-size: 55px;
    margin: 20px 0;
}
.subtitle{
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.9);
    margin:0;
}

.c2action{
    font-size: 18px;
    font-weight: 400;
    color: orange;
    text-decoration: none;
}

.name{
    font-size: 32px;
    font-weight: 400;
}

.picture-card{
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
  grid-gap: 20px;
  margin: 20px 0;
}
.profile-img{
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(255, 166, 0, 0.144);
}
.p-c-text{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 20px;
}
.service-list{
    margin-top: 15vh;
}

.fa-envelope{
    margin-left: 60px;
}
.fa-phone,.fa-envelope{
  margin-right: 5px;
}
a{
  text-decoration: none;
}
@keyframes fade-in-up {
    0% {
      opacity:0;
      transform: translate(0, 5px);
    }
    50%{
      transform: translate(0, 0);
  
    }
    100% {
      opacity:100;
    }
  }
  .half-container, .projects{
    animation: fade-in-up .5s ease-in;
  }

@media only screen and (max-width : 600px) {

    .menu-btn-burger, .menu-btn, .mobile-only {
      display: block;
    } 
    .half-container{
      width: 90vw;
      margin: 0, 90vw;
      padding-top: 10%;
      min-width: 0;
    }
    .header{
      font-size: 32px;
    }
    .subtitle{
      font-size: 18px;
    }
    .name{
      font-size: 24px;
    }
    .c2action{
      font-size: 18px;
    }
    .home{
      display: grid;
      align-content: center;
      height: 80vh;
    }
    .picture-card{
      grid-template-columns: 1fr;
    }
    .only-pc{
      display: none;
    }



    /*contact*/
    .phone {
      display: block;
    }
    .fa-phone,.fa-envelope{
      margin-left:0px;
      margin-right: 5px;
    }

	}