
.App{
    background: url(/images/abrar.png) no-repeat fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.half-container{
    margin: 0 5vw;
    width: 50vw;
    padding-top: 15vh;
}
.height{
    min-height: 48vh;
}
.align-center{
    display: grid;
    align-content: center;
}
.header{
    font-size: 55px;
    margin: 20px 0;
}
.subtitle{
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.9);
    margin:0;
}

.c2action{
    font-size: 18px;
    font-weight: 400;
    color: orange;
    text-decoration: none;
}
.name{
    font-size: 32px;
    font-weight: 400;
}
.service-list{
    margin-top: 15vh;
}

.fa-envelope{
    margin-left: 60px;
}
a{
  text-decoration: none;
}
@keyframes fade-in-up {
    0% {
      opacity:0;
      transform: translate(0, 5px);
    }
    50%{
      transform: translate(0, 0);
  
    }
    100% {
      opacity:100;
    }
  }
  .half-container, .projects{
    animation: fade-in-up .5s ease-in;
  }
  /* .projects{
    animation: fade-in-up 0.6s ease-in;
  } */